*.a
*.o
*.lo
*.la
*.so.1.0.0
*.so.1
*.so
*.so.1.0

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
build-stamp
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
stamp-h1
cngplp/aclocal.m4
cngplp/autom4te.cache/
cngplp/compile
cngplp/config.guess
cngplp/config.h
cngplp/config.h.in
cngplp/config.h.in~
cngplp/config.log
cngplp/config.status
cngplp/config.sub
cngplp/configure
cngplp/.deps/
cngplp/.libs/
cngplp/cngplpmod/.deps/
cngplp/controls/button/.deps/
cngplp/controls/checkbutton/.deps/
cngplp/controls/combo/.deps/
cngplp/controls/dialog/.deps/
cngplp/controls/entry/.deps/
cngplp/controls/label/.deps/
cngplp/controls/radiobutton/.deps/
cngplp/controls/spinbutton/.deps/
cngplp/controls/textview/.deps/
cngplp/libtool
cngplp/m4/libtool.m4
cngplp/m4/lt~obsolete.m4
cngplp/m4/ltoptions.m4
cngplp/m4/ltsugar.m4
cngplp/m4/ltversion.m4
cngplp/po/POTFILES
cpca/libtool
cpca/cnpklib/.deps/
cpca/cnpklib/.libs/
cpca/m4/libtool.m4
cpca/m4/lt~obsolete.m4
cpca/m4/ltoptions.m4
cpca/m4/ltsugar.m4
cpca/m4/ltversion.m4
debian/cndrvcups-lipslx/
debian/cndrvcups-ufr2-uk/
debian/cndrvcups-ufr2-us/
debian/cndrvcups-lipslx.debhelper.log
debian/cndrvcups-ufr2-uk.debhelper.log
debian/cndrvcups-ufr2-us.debhelper.log
libs/cnpkbidi
libs/cnpkmoduleufr2
libtool
pstoufr2cpca/filter/.deps/
